* {
    position: relative;
    font-family: 'Anonymous Pro','Courier Prime','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    background-image: url("bluecheckers.png");
    background-repeat: repeat;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: 1000px;
    background-color: #ffffff;
    border: 0px none #000000;
    padding: 10px 0px 0px 0px;
    z-index: 0;
}

.goodiesHeader {
    margin: 200px 0px 0px 0px;
    width: inherit;
    height: auto;
    text-align: center;
    border-bottom: 3px dashed #B9DCFF;
}

nav button {
    font-family: 'Courier Prime','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
    font-size: 16px;
} 

.aaaa {
    display: flex;
    transform: translate(0px, 0px);
    color: #00B4FF;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    border: 4px double #00B4FF;
    background-color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

.aaaa:hover {

    color: #ffffff;
    border: 4px double #00B4FF;
    background-color: #00B4FF;
}

/* ARTICLES */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    height: 400px;
    width: 300px;
    font-size: larger;
}
.page:hover {
    background-color: #f0f8ff;
}

.thumbnail {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-color: transparent;
}


.linkedHeading {
    text-decoration: none;
    color:#000000;
}

.articleTitle {
    padding: 8px 5px 8px 5px;
    margin: auto;
    margin-bottom: 5%;
}

.articleTitle:hover {
    text-decoration: none;
    color:#ffffff;
    background-color: #000000;
    width:fit-content;
    border-radius: 50px;
}

.description {
    width: auto;
    height: auto;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}
/* ARTICLES END */

footer {
    text-align: center;
}

.goodies {
/*     transform: translate(-1000px,450px); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.confettishower {
    position: absolute;
    background-color: transparent;
    background-image: url("transparentconfetti.gif");
    background-repeat: repeat;
    background-size: 200px;
    height: 250px;
    width: inherit;
    z-index: 18;
}

.goodies p {
    display: block;
    width: auto;
    height: auto;
}

.informationBlurb {
    margin: 20px auto 20px auto;
    text-align: center;
    width: 80%;
    height: auto;
    background-color: #fff8c9;
    border: 4px double #FFCC70;
    font-size: larger;
}

.informationBlurb h2 {
    background-color: #ffffff;
    width: 600px;
    border-radius: 25px;
    height: fit-content;
    padding: 10px 0px 10px 0px;
    margin: 15px auto 15px auto;
}

.informationBlurb a {
    color: green;
}

.howToH1 {
    color: #00B4FF;
    margin: auto;
    padding: 50px 0px 0px 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 46px;
}

ol, ul {
    font-size: 16px;
    padding: 0px 120px 0px 120px;
}

code {
    background-color: #B9DCFF;

}

.informationBlurb p {
    margin: 24px;
}