* {
    position: relative;
    font-family: 'Courier Prime','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc0cb;
}

main {
    height: auto;
    width: 800px;
    background-color: #ffffff;
    border: 3px solid #000000;
    padding: 10px 0px 0px 0px;
    z-index: 0;
    margin: 150px 0px 0px 0px;
}

header {
    position: absolute;
    margin: 20px 0px 0px 0px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffffff;
    animation: floatingHeader 4s infinite;
}

@keyframes floatingHeader {
    0% {
        margin-top:20px;
    }
    50% {
        margin-top:30px;
    }
    100% {
        margin-top:20px;
    }
}

nav {
    background-color: #ffffff;
    margin: 5px;

}

nav button {
    font-family: 'Courier Prime','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
    font-size: 16px;
} 

/* ARTICLES */
.page {
    display: flex;
    padding: 15px 15px 15px 15px;
    height: auto;
    width: auto;
}

.thumbnail {
    width: 360px;
    height: 202.5px;
    background-size: contain;
    background-color: transparent;
}
.thumbnail:hover {
    border-left: 5px solid #7F00FF; 
}

.linkedHeading {
    text-decoration: none;
    color:#000000;
}

.articleTitle {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 10px 5px;
}

.articleTitle:hover {
    text-decoration: none;
    color:#ffffff;
    background-color: #000000;
    width:fit-content;
    border-radius: 50px;
}

.description {
    width: auto;
    height: auto;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}
/* ARTICLES END */

.buttonBubble {
    z-index: 1;
    position: absolute;
    transform: translate(0px, 0px);
    width: auto;
    height: auto;
    background-color:rgba(255, 173, 228, 0.8);
    visibility:hidden;
}

footer {
    text-align: center;
}