* {
    position: relative;
    font-family: 'Courier Prime','Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    background-image: url("dodgerbluegrid.png");
    background-repeat: repeat;
    background-size: contain;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% { background-position: 0 0; }
    50% { background-position: 800px 800px; }
    100% { background-position: 0 0; }
}

main {
    height: auto;
    width: 800px;
    background-color: #ffffff;
    border: 3px solid #00B4FF;
    border-radius: 20px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
    margin: 10px 0px 0px 0px;
}

header {
    position: absolute;
    margin: 10px 0px 0px 0px;
    width: auto;
    height: auto;
    text-align: center;
    background-color: transparent;
}

.titleResize {
    max-height: 160px;
    margin: 0px;
    z-index: 3;
    animation: floating2 4s infinite;
    align-items: center;
    user-select:none;
}

@keyframes floating1{
    0% {
        margin-top:20px;
    }
    50% {
        margin-top:30px;
    }
    100% {
        margin-top:20px;
    }
}

@keyframes floating2{
    0% {
        margin-top:20px;
    }
    60% {
        margin-top:30px;
    }
    100% {
        margin-top:20px;
    }
}

nav {
    flex-direction: row;
    margin-top: 150px;
    background-color: transparent;
    z-index: 2;
}

nav button {
    height: auto;
    cursor: pointer;
} 

/* ARTICLES */
.page {
    display: flex;
    padding: 15px;
    height: initial;
    width: initial;
}
.page:hover {
    background-color: #f0f8ff;
    border-radius: 20px;
}

.thumbnail {
    width: 360px;
    height: 202.5px;
    background-size: contain;
    background-color: transparent;
    border: 1px dashed #00B4FF;
}
.thumbnail:hover {
    border-left: 5px solid #B9DCFF;
}

.linkedHeading {
    text-decoration: none;
    color: #00B4FF;
}

.articleTitle {
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 10px 5px;
}

.articleTitle:hover {
    text-decoration: none;
    color:#ffffff;
    background-color: #00B4FF;
    width:fit-content;
    border-radius: 50px;
}

.description {
    width: auto;
    height: auto;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}
/* ARTICLES END */

.buttonBubble {
    z-index: 8;
    position: absolute;
    margin-top: 225px;
    width: 770px;
    height: auto;
    background-color: rgba(255, 248, 201, 0.9);
    visibility:hidden;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    border: 3px solid #FFCC70;
    font-family: "Anonymous Pro",'Courier','Lucida Sans Typewriter','Lucida Typewriter',monospace;
    font-size: 16px;
}

.buttonBubble h1 {
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    color: #ffffff;
    background-color: #FFCC70;
    width: max-content;
    margin-bottom: 15px
}

.buttonBubble h1::after {
    animation: blinkingH1 1s infinite;
    content: " ";
}

.buttonBubble p {
    background-color: #ffffff;
    width: initial;
    padding: 15px 25px 15px 25px;
    margin: 0px auto 0px auto;
    color:#00B4FF ;
}

@keyframes blinkingH1 {
    0% {
        content: " ";
    }
    50% {
        content: "_ ";
    }
    100% {
        content: " ";
    }
}

.aaaa {
    background-color: transparent;
    border: 0px none transparent;
}

.buttonResize {
    max-height: 70px;
}

footer {
    text-align: center;
    color: #00B4FF;
}

.cloudBackground{
    display: flex;
    position: absolute;
    transform: translate(15px, -15px);
    z-index: 0;
    max-height: 180px;
    animation: floating1 4s infinite;
    user-select: none;
}

#quickThing {
    text-align: center;
    color: #00B4FF;
    margin: 24px;
}

.quickHighlight {
    background-color: #00B4FF;
    color: #ffffff;
    padding: 22px;
    margin: 0px 46px 24px 46px;
}